body {
  margin : 0 auto;
  margin-top : 5px;
  width : 65em;  /*  912px wide @ 16pt => 912/16= 57 */
  font-family : Arial, Verdana, sans-serif;
  background-image: url("../img/image_fundo.jpg");
  background-size: 1366px 643px;
}
/*header, footer {
  border : 2px solid blue;
  border-radius : 5px;
  margin-top : 5px;
  padding-left : 10px;
  padding-right : 10px;
  color : white;
  background-color : blue;
  font-weight : bold;
  text-shadow : 4px 4px 4px #000;
}*/
header {
  font-size : 2.1em;
}
footer {
  clear : both;
  font-size : 0.9em;
}
nav {
  margin-top : 5px;
  margin-bottom : 5px;
}
h1, .title {
  margin-top : 10px;
  margin-bottom : 15px;
  text-transform : uppercase;
  text-shadow : 2px 2px 2px #000;
  font-weight : bold;
  color : blue;
  background-color: transparent;
}
h1 { 
  font-size : 1.4em;
}
.title {
  font-size : 1.2em;
}
#login, #menu, #content {
  border : 2px solid blue;
  border-radius : 5px;
  margin-top : 5px;
  padding : 10px;
}
#login, #menu {
  width : 160px;
}
#menu {
  float : left;
  margin : 0;
  font-weight : bold;
}
#menu ul {
  list-style-type : none;
  list-style-image : none;
  margin : 0;
  padding : 0;
}
#menu li {
  padding : 0;
  margin : 0;
}
#login {
  float : left;
  clear : left;
  margin-bottom : 5px;
}
#login input {
  display : block;
  margin-bottom : 5px;
}
#content {
  margin-left : 188px;
}
ul {
  list-style-type : none;
  list-style-image : none;
  margin : 0;
  padding : 0;
}
li { 
  padding : 0;
  margin : 0;
}
a {
  color : #336699;
  text-decoration : none;
}
header a, footer a {
  color : white;
  text-decoration : underline;
}
fieldset {
  padding: 1em;
}
label {
  float: left;
  width : 15%;
  margin-right: 0.5em;
  padding-top: 0.2em;
  text-align: right;
  font-weight: bold;
}
#login label { 
  float : none;
}
table {
  border-collapse : collapse;
}
table,th, td {
  border : 1px solid black;
  padding : 4px;
}
.message  {
  border-radius : 5px;
  display : block;
  color : white;
  background-color : #339933;
  text-align : center;
  padding : 10px;
  margin-bottom : 3px;
}
th
{
  color : white;
  background-color : blue;
}
.error {
  color: red;
  background-color: transparent;
}
#errors .error {
  border-radius : 5px;
  display : block;
  color : white;
  background-color : #993333;
  text-align : center;
  padding : 10px;
  margin-bottom : 3px;
}
.left { 
  text-align : left;
}
.right { 
  text-align : right;
}
.center { 
  text-align : center;
}
.navtext {
  font-weight : bold;
}
